.login-screen {
    box-shadow: 0px 10px 50px #555;
    margin-top: 50px;
    width: 350px;
    margin-left: auto !important;
    margin-right: auto !important;
}

.login-form {
    max-width: 300px;
    margin-left: auto !important;
    margin-right: auto !important;
}

.title-login {
    color: #1890ff;
}

.login-form-forgot {
    float: right;
}

.login-form-button {
    width: 100%;
}

.body {
    height: 100vh;
    padding-top: 100px;
    background-color: #2292A4;
}
