.logo {
    width: 120px;
    height: 31px;
    float: left;
}

.logo:hover {
    cursor: pointer;
}

.menu {
    float: right;
    background-color: #24049a !important;
    color: #ffffff !important;
}

.header {
    background-color: #24049a !important;
}
