.title-home {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.home-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-left: auto !important;
    margin-right: auto !important;
}
