.register-screen {
    box-shadow: 0px 10px 50px #555;
    margin-top: 50px;
    width: 450px;
    margin-left: auto !important;
    margin-right: auto !important;
}

.title-register {
    color: #1890ff;
}

.register-form {
    max-width: 400px;
    margin-left: auto !important;
    margin-right: auto !important;
}
