.btn-save {
    float: right;
    margin-left: 10px;
    background-color: #24049a !important;
    color: #ffffff !important;
}

.btn-cancel {
    float: right;
    background-color: #636e72 !important;
    color: #ffffff !important;
}

.action-create-user-header {
    float: right !important;
}

.tittle-create-user {
    color: #24049a;
    font-weight: bold;
    font-size: 18px;
    float: left;
}
